article{
    margin-bottom: 30px;
}

article h2{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: #e6e6e6;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

article a{
    display: block;
    width: 100%;
    background-color: var(--cor-principal);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 0 0 5px 5px;
}